.links{
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
}
.customButton{
	margin: 10px;
	left: 7vw;
}

.extraMargin{
	margin-top: 100px;
}
.imageOverlay:hover { 
	background-color: hsla(247, 100%, 0%, 0.7);
	position: absolute;
	top: 0;
}
#topButton{
	position: fixed;
	top: 90vh;
	left: 85vw;
	z-index: 99;
	display: none;
}
.rotated{
	transform: rotate(30deg);
}
.imageSlides{
	display:none;
}
.butt1{
	position: absolute;
	left: 0;
	top:60%;
	text-align: center;
	font-size: 18px;
}
.butt2{
	position: absolute;
	right: 51%;
	top:60%;
	text-align: center;
	font-size: 18px;
}